.containerWelcomeImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.welcomeImg{
    width: 50%;
    animation-name: welcome;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.deconnecter{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

@keyframes welcome{
    from {
        opacity: 20%;
        width: 10%;
    }
  
    to {
        opacity: 100%;
        width: 50%;
    }
  }
  